@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  z-index: 0;
  background: #000000 url("/public/asset/stars.png") repeat top center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.twinkling {
  z-index: 1;
  background: transparent url("/public/asset/twinkle.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}
@keyframes move-twink-back {
  from {
      background-position: 0 0;
 }
  to {
      background-position: -10000px 5000px;
 }
}

.clouds {
  z-index: 2;
  background: transparent url("/public/asset/clouds3.png") repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-clouds-back {
  from {
      background-position: 0 0;
 }
  to {
      background-position: 10000px 0;
 }
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
  background-image: url('../public/asset/scrollbar_space.png');
  background-size: cover, repeat;
}

::-webkit-scrollbar-thumb {
  background: #1dafe4;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0182b1;
}